<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>个人主页</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="content">
		<div class="register_header" style="height: 200px">
			<div class="personal">

			</div>
			<div class="home register">
				<a href="/vote/index">
					活动首页
				</a>
			</div>
		</div>
		<div class="register_content">
			<div class="vfriend">
				<div>
					<span class="line"></span>
					<span class="dot"></span>
				</div>
				<div>
					已投票的好友
				</div>
				<div>
					<span class="dot"></span>
					<span class="line"></span>
				</div>
			</div>
			<ul class="vflist coming">


			</ul>
		</div>
	</div>
</body>
<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/vote.js"></script>
</html>