<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
	<title>搜索结果页</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="content">
        <div class="lists">
            <div class="coming-box">
                <ul class="coming">

                </ul>
            </div>
        </div>
	</div>
</body>
<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/vote.js"></script>
</html>